#container {
    margin: auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#field {
    margin: 10px;
    border: 1px solid black;
    border-radius: 1rem;
    background-image: url('/field.png');
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 400px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#ball {
    border-radius: 50%;
    border: 1px solid black;
    background-color: lightgray;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: relative;
    left: 0px;
    top: 0px;
}

#ball.spin {
    animation: spin 1s infinite linear;
    /* การหมุนแบบต่อเนื่อง */
}

#contrtol {
    margin-top: 1rem;
}