.temp-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(225, 225, 225);
}

.temp-variables{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.temp-display{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
}

.temp-title{
    color: red
}