.timer-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    background-color: rgb(225, 225, 225);
}

.timer-title{
    color: red
}

.timer-display{
    border-radius: 0.5rem;
    border: 1px solid;
    text-align: right;
    font-size: large;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    width: 11rem;
}

.timer-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}