*{
    text-align: center;
}

.lineOf_CAT {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 0.5rem;
}
.counter {
  grid-template-rows: 2fr;
}

.title_work {
  background-color: #ccd2f7;
  width: 30rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.title-myname {
  margin-top: 1rem;
  text-align: center;
}

.forAdd {
  margin-bottom: 2px;
}

.background-container {
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  padding: auto;
  margin-top: -5px;
}

