.add-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(225, 225, 225);
}

.add-title{
    color: red
}

.add-variables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.add-display{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; */
    display: flex;
    justify-content: space-around;
}
